main.acn
main.aux
main.bcf
main.glo
main.ist
main.log
main.out
main.pdf
_minted-main
_minted-main/*
BT_Hanzl_Petr_2019.pdf
main.acr
main.alg
main.bbl
main.blg
main.glg
main.gls
main.run.xml
main.toc
main.lot
.DS_Store
psd
main.lof
